importing the dependencies

In [9]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\arjun\anaconda3\lib\site-packages (1.7.2)
Requirement already satisfied: numpy>=1.22.0 in c:\users\arjun\anaconda3\lib\site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.8.0 in c:\users\arjun\anaconda3\lib\site-packages (from scikit-learn) (1.13.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\arjun\anaconda3\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\arjun\anaconda3\lib\site-packages (from scikit-learn) (3.5.0)
Note: you may need to restart the kernel to use updated packages.

In [10]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score         # ✅ Correct

In [11]:
#importing the models

In [12]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
#from sklearn.neighbors import KNeighborsClassifier   # ✅ Correct
from sklearn.ensemble import RandomForestClassifier

In [13]:
# DAta  collection and Processing

In [14]:
df = pd.read_csv('heart.csv')

In [15]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [16]:
df.tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [17]:
df.shape

(303, 14)

In [18]:
df.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [19]:
df.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [20]:
#checking the distribution of Target Variable
# 1 = Defective Heart
# 0 = Healthy Heart

In [21]:
df['target'].value_counts()

target
1    165
0    138
Name: count, dtype: int64

In [22]:
# Splitting the Feature and Target

In [23]:
X = df.drop(columns = 'target',axis=1)
y = df['target']

In [24]:
print(X)

     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0     63    1   3       145   233    1        0      150      0      2.3
1     37    1   2       130   250    0        1      187      0      3.5
2     41    0   1       130   204    0        0      172      0      1.4
3     56    1   1       120   236    0        1      178      0      0.8
4     57    0   0       120   354    0        1      163      1      0.6
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
298   57    0   0       140   241    0        1      123      1      0.2
299   45    1   3       110   264    0        1      132      0      1.2
300   68    1   0       144   193    1        1      141      0      3.4
301   57    1   0       130   131    0        1      115      1      1.2
302   57    0   1       130   236    0        0      174      0      0.0

     slope  ca  thal
0        0   0     1
1        0   0     2
2        2   0     2
3        2   0     2
4        2   0     2
..     ...  ..   ...
298      1   0     3
299      1   0     3
300      1   2     3
301      1   1     3
302      1   1     2

[303 rows x 13 columns]

In [25]:
print(y)

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

# Train Test Split

In [26]:
X_train,X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, stratify = y , random_state=3)

In [27]:
print(X.shape, X_train.shape, X_test.shape)

(303, 13) (242, 13) (61, 13)

In [28]:
models = [LogisticRegression(), SVC(kernel = 'linear'), KNeighborsClassifier(), RandomForestClassifier()]

In [29]:
def compare_models_train_test():
    for model in models:
        # training the model
        model.fit(X_train, y_train)
        #evaluating the model
        test_data_prediction = model.predict(X_test)
        accuracy = accuracy_score(y_test,test_data_prediction)
        print('Accuracy score of the ', model, '=', accuracy)

In [30]:
compare_models_train_test()

Accuracy score of the  LogisticRegression() = 0.8032786885245902
Accuracy score of the  SVC(kernel='linear') = 0.7704918032786885
Accuracy score of the  KNeighborsClassifier() = 0.6557377049180327

C:\Users\arjun\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:473: ConvergenceWarning: lbfgs failed to converge after 100 iteration(s) (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT

Increase the number of iterations to improve the convergence (max_iter=100).
You might also want to scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Accuracy score of the  RandomForestClassifier() = 0.7868852459016393

In [31]:
compare_models_train_test()

Accuracy score of the  LogisticRegression() = 0.8032786885245902
Accuracy score of the  SVC(kernel='linear') = 0.7704918032786885
Accuracy score of the  KNeighborsClassifier() = 0.6557377049180327

C:\Users\arjun\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:473: ConvergenceWarning: lbfgs failed to converge after 100 iteration(s) (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT

Increase the number of iterations to improve the convergence (max_iter=100).
You might also want to scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Accuracy score of the  RandomForestClassifier() = 0.7704918032786885

In [32]:
models = [LogisticRegression(max_iter=1000), SVC(kernel = 'linear'), KNeighborsClassifier(), RandomForestClassifier()]

In [33]:
compare_models_train_test()

Accuracy score of the  LogisticRegression(max_iter=1000) = 0.7704918032786885

C:\Users\arjun\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:473: ConvergenceWarning: lbfgs failed to converge after 1000 iteration(s) (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT

Increase the number of iterations to improve the convergence (max_iter=1000).
You might also want to scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Accuracy score of the  SVC(kernel='linear') = 0.7704918032786885
Accuracy score of the  KNeighborsClassifier() = 0.6557377049180327
Accuracy score of the  RandomForestClassifier() = 0.7704918032786885

# Cross validation

In [34]:
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression

In [41]:
cv_score_lr = cross_val_score(LogisticRegression(max_iter=10000), X, y, cv=5, scoring='f1')

print("F1 scores:", cv_score_lr)

# compute mean accuracy correctly
mean_accuracy_lr = cv_score_lr.mean() * 100  
mean_accuracy_lr = round(mean_accuracy_lr, 2)

print("Mean F1 Score (%):", mean_accuracy_lr)

F1 scores: [0.82857143 0.87878788 0.86567164 0.88571429 0.79452055]
Mean F1 Score (%): 85.07

In [42]:
# Support Vector classifier

In [47]:
cv_score_svc = cross_val_score(SVC(kernel='linear'), X, y, cv=5)

print(cv_score_svc)

mean_accuracy_svc = cv_score_svc.mean() * 100
mean_accuracy_svc = round(mean_accuracy_svc, 2)

print("Mean Accuracy SVC (%):", mean_accuracy_svc)

[0.81967213 0.8852459  0.80327869 0.86666667 0.76666667]
Mean Accuracy SVC (%): 82.83

Creatinf a function to compare the models

In [51]:
from sklearn.model_selection import cross_val_score

def compare_models_cross_validation(models, X, y, cv=5):
    for model in models:
        cv_scores = cross_val_score(model, X, y, cv=cv)   # cross-validation
        mean_accuracy = cv_scores.mean() * 100            # mean accuracy in %
        mean_accuracy = round(mean_accuracy, 2)

        print('Cross-validation accuracies for', model.__class__.__name__, '=', cv_scores)
        print('Mean Accuracy % of', model.__class__.__name__, '=', mean_accuracy)
        print('----------------------------------')

In [57]:
compare_models_cross_validation(models, X, y, cv=5)

C:\Users\arjun\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:473: ConvergenceWarning: lbfgs failed to converge after 1000 iteration(s) (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT

Increase the number of iterations to improve the convergence (max_iter=1000).
You might also want to scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Cross-validation accuracies for LogisticRegression: [0.80327869 0.86885246 0.85245902 0.86666667 0.75      ]
Mean Accuracy % of LogisticRegression: 82.83
----------------------------------------
Cross-validation accuracies for SVC: [0.81967213 0.8852459  0.80327869 0.86666667 0.76666667]
Mean Accuracy % of SVC: 82.83
----------------------------------------
Cross-validation accuracies for KNeighborsClassifier: [0.60655738 0.6557377  0.57377049 0.73333333 0.65      ]
Mean Accuracy % of KNeighborsClassifier: 64.39
----------------------------------------
Cross-validation accuracies for RandomForestClassifier: [0.83606557 0.90163934 0.78688525 0.83333333 0.78333333]
Mean Accuracy % of RandomForestClassifier: 82.83
----------------------------------------